
.main {
  padding: 0 2rem;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;

}

.footer {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

